@model Library

@{
    ViewData["Title"] = "Wybierz swoją bibliotekę";
}
<link rel="stylesheet" type="css" href="site.css" />
<h2>@ViewData["Title"]</h2>

<div class="library-container">
    <div class="library">
        <a href="@Url.Action("bibl1", "Library")">
            <img src="~/Img/bibl1.png" alt="Biblioteka 1" class="library-image" />
        </a>
        <div class="library-name">Biblioteka 1</div>
    </div>
    <div class="library">
        <img src="~/Img/bibl2.png" alt="Biblioteka 2" class="library-image" />
        <div class="library-name">Biblioteka 2</div>
    </div>
    <div class="library">
        <img src="~/Img/bibl3.png" alt="Biblioteka 3" class="library-image" />
        <div class="library-name">Biblioteka 3</div>
    </div>
    <div class="library">
        <img src="~/Img/bibl4.png" alt="Biblioteka 1" class="library-image" />
        <div class="library-name">Biblioteka 1</div>
    </div>
    <div class="library">
        <img src="~/Img/bibl5.png" alt="Biblioteka 2" class="library-image" />
        <div class="library-name">Biblioteka 2</div>
    </div>
    <div class="library">
        <img src="~/Img/bibl6.png" alt="Biblioteka 3" class="library-image" />
        <div class="library-name">Biblioteka 3</div>
    </div>
</div>

<style>
    .library-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 20px;
    }

    .library {
        flex: 0 1 calc(33.333% - 15px); /* Zajmuje do 1/3 szerokości kontenera minus odstęp */
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
    }

    .library-image {
        width: 250px; /* Dostosuj rozmiar według potrzeb */
        height: auto;
        border: 3px solid transparent;
        border-radius: 15%;
        transition: border-color 0.3s ease, transform 0.3s ease;
    }

        .library-image:hover {
            border-color: #007bff; /* Twój kolor wyróżniający */
        }

    .library-name {
        margin-top: 8px;
        color: #fff; /* Biały tekst */
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }




    .library {
        width: calc(50% - 15px); /* Pół szerokości kontenera minus odstęp */
    }
</style>

<script>
    // JavaScript can be used if you need to add more interactive behaviors
    // Pobierz element div zawierający obrazek "bibl1" po jego identyfikatorze
    var bibl1Element = document.getElementById("bibl1");

    // Dodaj obsługę kliknięcia w ten element
    bibl1Element.addEventListener("click", function () {
        // Przekieruj użytkownika do widoku "bibl1"
        window.location.href = "@Url.Action("bibl1", "Library")"; // Upewnij się, że ścieżka jest poprawna
    });
</script>