<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Made by Remigiusz Krupa - Labolatorium_3_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Labolatorium_3_App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <style>
        body {
            background-color: #1E272E;
            color: white;

        }
       
        footer {
            background-color: #1E272E;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;

        }

        .loginpanel {
            margin-left: auto; /* To zapewni, że element będzie po prawej stronie */
        }

        .navbar {
            animation: fadeInOut 7s ease-in-out;
            background-color: #161D22!important;
            color:white!important;
        }


        .navbar-nav .nav-item .nav-link:hover {
            background-color: #2F4F4F !important;
            border-radius: 10px;
        }

        .border-bottom {
            border-bottom: 1px solid #0033 !important;
        }

        .navbar-brand img
        {
            width: 200px;
            display: flex;
        }

        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" >
                        <img src="~/img/logo.png" alt="Logo" />
                    </a>
                </li>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">Contacts</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Library" asp-action="Index">Libraries</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Organization" asp-action="Index">Organizations</a>
                        </li>*@
                        <li class="nav-item ms-auto">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <footer class="footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Labolatorium_3_App - Made by Remigiusz Krupa
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<main role="main" class="pb-3">
    @RenderBody()
</main>
</html>
