@model BorrowViewModel

@{
    ViewData["Title"] = "Nowe Wypożyczenie";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="BookId">Książka</label>
        <select asp-for="BookId" asp-items="Model.Books" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="BorrowDate">Data Wypożyczenia</label>
        <input asp-for="BorrowDate" class="form-control" type="date" />
    </div>
    <button type="submit" class="btn btn-primary">Wypożycz</button>
</form>