@model IEnumerable<Data.Entities.BorrowEntity>

<h2>Moje Wypożyczenia</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tytuł książki</th>
            <th>Data wypożyczenia</th>
            <th>Data zwrotu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrow in Model)
        {
            <tr>
                <td>@borrow.Book.Title</td>
                <td>@borrow.BorrowDate.ToShortDateString()</td>
                <td>@(borrow.ReturnDate?.ToShortDateString() ?? "Nie zwrócono")</td>
            </tr>
        }
    </tbody>
</table>
