@{
    ViewData["Title"] = "LitHub";
}

<div class="text-center">
    <h1 class="display-4">LitHub</h1>
    <b></b>
    <p>Made by Krupa Remigiusz</p>
</div>

<style>
    body {
        background-image: url('/Img/Cloudy.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>