@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dodawanie kontaktu</h1>
<form asp-controller="Contact" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name">Imię</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Phone">Telefon</label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Birth">Data urodzenia</label>
        <input class="form-control" asp-for="Birth" />
        <span asp-validation-for="Birth" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Priority"></label>
        <span asp-validation-for="Priority" class="text-danger"></span>
        <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
    </div>
    <div class="mb-3">
        <label asp-for="OrganizationId">Organizacja</label>
        <select class="form-control" asp-for="OrganizationId" asp-items="@Model.Organizations" ></select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Utwórz</button>
        <a class="btn btn-primary" asp-controler="Contact" style="float: right;" asp-action="Index">Lista kontaktów</a>
    </div>
</form>